:root {
  --color-white: #ffffff99;

  --color-black: #1a1a1a;

  --color-gray-1: #424549;
  --color-gray-2: #292c31;
  --color-gray-3: #1e2125;

  --color-purple: #9575cd;

  --border: 1px solid var(--color-white);
  --border-purple: 1px solid var(--color-purple);

  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-gray-3);
}

::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: 2px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-1);
  transition: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-gray-1);
  color: var(--color-white);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--color-gray-2);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;

  box-shadow: var(--box-shadow);

  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-gray-3);
}

input {
  background-color: var(--color-gray-2);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;

  box-shadow: var(--box-shadow);

  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: var(--color-white);
    opacity: 0.7;
  }

  &:focus {
    background-color: var(--color-gray-3);
  }
}

textarea {
  background-color: var(--color-gray-2);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;

  box-shadow: var(--box-shadow);

  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: var(--color-white);
    opacity: 0.7;
  }

  &:focus {
    background-color: var(--color-gray-3);
  }

  resize: none;
}

p {
  font-size: 20px;
  font-weight: 500;
}

span {
  color: var(--color-white);
  font-size: 26px;
  font-weight: 600;
}
