.wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.speechWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.buttonWithIcon {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  border-radius: 50%;

  background-image: url("../../../shared/assets/icons/microphone.svg");
}

.recording {
  background-image: url("../../../shared/assets/icons/stop.svg");
  background-size: 40%;
}

.speech {
  background-color: var(--color-gray-2);
  font-size: 46px;
  width: 40vw;
  height: 70vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;

  box-shadow: var(--box-shadow);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
